.__livy {
    font-size: var(--type-0);
}

.__livy h1 {
    font-size: var(--type-3);
    font-weight: bold;
}

.__livy h2 {
    font-size: var(--type-3);
}

.__livy h3 {
    font-size: var(--type-2);
}
.__livy h4, .__livy h5 {
    font-size: var(--type-1);
}

.__livy h1, .__livy h2, .__livy h3, .__livy h4, .__livy h5, .__livy h6 {
    margin: 0px;
    margin-bottom: var(--rel--1);
}

.__livy__block {
    margin-bottom: var(--rel--1);
}