:root {
  
    /* font size */
    --type--2:  calc( var(--type-0) * 0.375 );
    --type--1:  calc( var(--type-0) * 0.625 );
    --type-0:   1rem;
    --type-1:   calc( var(--type-0) * 1.625 );
    --type-2:   calc( var(--type-0) * 2.625 );
    --type-3:   calc( var(--type-0) * 4.25 );

    /* spacing */
    --space-third:      calc(var(--space) * calc(1 / 3));
    --space-half:       calc(var(--space) * 0.5);
    --space:            1rem;
    --space-double:     calc(var(--space) * 2);
    --space-triple:     calc(var(--space) * 3);
    --space-quad:       calc(var(--space) * 4);

    /* relative spacing */
    --rel--2:  calc( var(--rel-1) * 0.375 );
    --rel--1:  calc( var(--rel-1) * 0.625 );
    --rel-1:    1em;
    --rel-2:   calc( var(--rel-1) * 1.625 );
    --rel-3:   calc( var(--rel-1) * 2.625 );
    --rel-4:   calc( var(--rel-1) * 4.25 );
}